#container{
    border: 1px solid black;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.item{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
