div {
    color: blue;
    border: 2px red solid;
}

button {
    color: inherit;
    font-family: inherit;
}

.card {
    color: chartreuse;
    width: 200px;
    height: 200px;
    background-color: gray;

    padding: 20px;
    border: 5px solid black;
    margin: 30px;
}